<html>
<head>
    <style>
        .container-fluid{
            margin-top: 1%;
            margin-left: 1%;
            margin-right: 1%;
        }
    </style>
</head>
<body>
    <div id="pageloader"></div>
    <div class='container-fluid' style='font-size:13px !important;'>
        <div align="center"><br><br><br>
            <h3>{{ alert_msg }}</h3><br><br>
            <button class="btn btn-primary" ng-click="onLogin()" > Back to login </button>&nbsp; &nbsp;
            <button class="btn btn-primary" ng-click="onClose()" > Close </button>
        </div>
    </div>
</body>
</html>