

<style>
body {
 background: #00bcd4 ! important;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

</style>

 

 

<div id="outer">
	
 <md-chips class="with-floating-label" ng-model="ctrl.selectedVegetables" md-autocomplete-snap md-require-match="false" md-on-append="emailSelected($chip)" md-transform-chip="ctrl.transformChip($chip)">
       <md-autocomplete
    md-input-id="user-select-input" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" md-floating-label="Search for a vegetable">
        <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
    </md-chips>

    <div id="blueDiv">
    <div id="login-page" class="col-md-12 no-padding-div">
    <div class="card-panel">
      <form  name="loginForm" autocomplete="off" ng-submit="onSubmit()">
        <div class="row col-md-12">
          <div class="input-field col s12 center">
            <img src="images/loginlogo.png" alt="S.I.S" class="responsive-img valign profile-image-login">
            <p class="center login-form-text">South India Shelters Pvt.Ltd</p>
                    </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
        
           	 <input type="email"  placeholder="EMAIL" ng-model="loginFormData.email" required><br>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
           <input type="password" placeholder="PASSWORD" ng-model="loginFormData.password" required><br>
          </div>
          
          </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
               <div ng-show="alert" class="alert-danger pad10">
            <strong>{{alert_content}}</strong>
        </div>
              <input type="checkbox" id="remember-me">
              <label class="Remember" for="remember-me">Remember me</label>
          </div>
           <p>&nbsp;</p>
        </div>
        
        <div class="row">
          <div class="input-field col s12">          
           <button type="submit" class='inkMe btn waves-effect waves-light col s12' >Login</button>
          </div>
        </div>
        
         <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small">&nbsp;</p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small padt15"><a ui-sref="list">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
    
  
    
    </div>
</div>









