<script src="./js/session.js"></script>
<script src="./js/text-editor.js"></script>

<div id="breadcrumbs-wrapper" class=" grey lighten-3">
    <div class="container-title">
        <div class="row">
            <div class="col s12 m12 l12">
				<h5 id="prod" class="breadcrumbs-title">INDENTS</h5>
               
<span id="ord-headright" class="left navigations padl130">  
<ul id="menu" class="mfb-component--tr" >
<li class="mfb-component__wrap">
<a ui-sref="home.indent({filter: ''})" class="mfb-component__button--main"><i class="mfb-component__main-icon--resting material-icons">refresh</i></a>
</li></ul>
</span>
               
<span id="ord-headright" class="right navigations" style="margin-right: 60px">  
<ul id="menu" class="mfb-component--tr" >
<li class="mfb-component__wrap">
<a ng-if="deletePermission=='1'"  ng-click='deleteall()' ng-show="showDelBtn" class="mfb-component__button--main" title="Delete"><i class="mfb-component__main-icon--resting material-icons">delete</i></a>
</li></ul>
</span>              
               
<span id="ord-headright" class="right navigations">  
<ul ng-if="addPermission=='1'" id="menu" class="mfb-component--tr" >
<li class="mfb-component__wrap">
<a  ng-if="addPermission=='1'" ng-click="onAdd()" class="mfb-component__button--main"  title="Add Vendor"><i class="mfb-component__main-icon--resting material-icons">add</i></a>
</li></ul>
</span>               
</div>
        </div> 
    </div>
</div>

<div id="preloader"></div>
<div class="mainpart">
    <div ng-show="alert" class="alert">
        <strong>{{alert_content}}</strong>
    </div>
    
    <div class="row" style="padding: 30px 10px 10px 30px;">
        <div class="col-md-2 col-xs-6 pr20">Project:
            <select  ng-options="list.project_short as list.project_name for list in projects | filter : { project_name: '!' + 'Common' }" ng-model="project_short" ng-change="tableData(tabletype, project_short)" required> 
                <option value="">All</option>
            </select>
        </div>
        <div class="col-md-2 col-xs-6 pr20">Type:
            <select ng-model="tabletype" ng-change="tableData(tabletype, project_short)" >
                <option value="usage">Issued</option>
                <option value="pending">Pending</option>
                <option value="cancel">Cancelled</option>
            </select>
        </div>
        <div class="col-md-2 col-xs-6 pr20">PageSize:
            <select ng-model="entryLimit" ng-change="pageEntries()">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-md-2 col-xs-6  pull-right padt13 pr20">
            <label>
                <i class="material-icons ihide">search</i>
                <input id="searchitems" type="text" ng-model="search" ng-change="filter()" placeholder="search" /> 
            </label>
        </div>
    </div>
 
    <div class="row" data-ng-init="tableData(tabletype, project_short)">
      <div class="col-md-12">
        <div class="">
            <table id="itemsTable" cellpadding="0" cellspacing="0" width="100%" border="0" class="table avail-div m-b-60 dataTable no-footer" role="grid" aria-describedby="itemsTable_info" style="width: 100%;">
                <thead>
                    <th width="5%">#</th>
                    <th width="10%" class="hidden-xs hidden-sm">PRF NUMBER&nbsp;<a ng-click="sort_by('prf_number');"><i class="material-icons tiny1">sort</i></a></th>
                    <th width="10%" class="hidden-xs hidden-sm">DATE&nbsp;<a ng-click="sort_by('po_date');"><i class="material-icons tiny1">sort</i></a></th>
                    <th width="10%" class="hidden-lg hidden-md">PRF NUMBER & <br> DATE<a ng-click="sort_by('prf_number');"><i class="material-icons tiny1">sort</i></a></th>
                    <th width="10%" class="hidden-xs hidden-sm">NAME</th>
                    <th width="25%">SUMMARY&nbsp;<a ng-click="sort_by('summary');"><i class="material-icons tiny1">sort</i></a></th>
                    <th width="5%" class="hidden-xs hidden-sm">TOTAL&nbsp;<a ng-click="sort_by('total');"><i class="material-icons tiny1">sort</i></a></th>
                    <th width="10%" class="hidden-xs hidden-sm">MAIL STATUS</th>
                    <th width="15%">STATUS</th>
                    <th width="10%">ACTION</th>
                </thead>
                <tbody ng-show="list.length > 0">
                    <tr ng-repeat="x in list track by $index">
                        <td width="5%" ng-if="deletePermission=='1'">
                            <input type="checkbox" ng-disabled="x.mail_status=='send'" ng-model="x.singlecheck" ng-change="deleteShow()" id="{{ $index }}" />
                            <label class="" for="{{ $index }}"></label>
                        </td>
                        <td width="5%" ng-if="deletePermission!='1'">{{ ((currentPage-1)*entryLimit)+$index+1 }}</td>
                        <td width="10%" class="hidden-xs hidden-sm">{{ x.prf_number }}</td>
                        <td width="10%" class="hidden-xs hidden-sm">{{ x.prf_date }}</td>
                        <td width="10%" class="hidden-lg hidden-md">{{ x.prf_number }} <br> {{ x.prf_date }}</td>
                        <td width="10%" class="hidden-xs hidden-sm">{{ x.name }}</td>
                        <td width="25%" ng-click='onView(x.prf_number)' ><a>{{ x.summary }}</a></td>
                        <td width="5%" class="hidden-xs hidden-sm">{{ x.total | currency:"&#8377;":2 }}</td>
                        <td width="10%" class="hidden-xs hidden-sm">
                            <i ng-if="x.mail_status==''" > <svg fill="#e91e63" height="20" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="19" r="2"/>
                            <path d="M10 3h4v12h-4z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                            </svg></i>
                            <i ng-if="x.mail_status=='send'" style="color:limegreen;" class="material-icons">check</i>
                            <i ng-if="x.mail_status=='failure'" style="color:red;" class="material-icons">clear</i>
                        </td>
                        <td width="15%">
                            <div ng-bind-html='x.indent_status'></div>
                            <div ng-if="x.quot_status=='1'">
                                <i class="material-icons micon" ng-click=onQuotView(x.prf_number) title="Detailed Information" >info</i>
                            </div>
                        </td>
                        <td width="10%">
                            <i ng-if="editPermission=='1' && x.mail_status!='send'" class="material-icons micon"  ng-click=onEdit(x.prf_number) title="Edit" >edit</i>
                            <i ng-if="addPermission=='1'" class="material-icons micon"  ng-click=onDuplicate(x.prf_number) title="Duplicate" >content_copy</i>
                            <i ng-if="mailPermission=='1' && x.mail_status!='send'" class="material-icons micon" ng-click=onMail(x.prf_number) title="Email" >email</i>
                            <i ng-if="deletePermission=='1' && tabletype=='usage' && x.quot_status==''" class="material-icons micon"  ng-click=onRemove(x.prf_number) title="Remove" >delete</i>
                            <i ng-if="deletePermission=='1' && tabletype=='cancel' && x.quot_status==''" class="material-icons micon" ng-click=onDelete(x.prf_number) title="Delete" >delete</i>
                            <i class="material-icons micon" ng-click=onPdf(x.prf_number) title="PDF" >picture_as_pdf</i>
                            <i ng-if="deletePermission=='1' && tabletype=='cancel' && x.quot_status==''" class="material-icons micon" ng-click=onReopen(x.prf_number) title="Reopen" >refresh</i>
                            <i ng-if="quotPermission=='1' && x.mail_status=='send' && x.quot_status!='1'" class="material-icons micon" ng-click="onAddQuotation(x.prf_number)" title="Add Quotation" >launch</i>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="list.length == 0">
                    <tr><td colspan="10">No records found</td></tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="row pad20" ng-show="totalRecords > 0">
        <div class="col-md-6 showitem"><br>
            {{ getShowingText() }}
        </div>
        <div class="col-md-6">
            <div class="p-r">
                <ul uib-pagination 
                    boundary-links="true" 
                    total-items="totalRecords"  
                    items-per-page="entryLimit" 
                    ng-model="currentPage" 
                    ng-change="pageChanged()"
                    max-size="5" 
                    class="pagination-sm" 
                    previous-text="&lsaquo;" 
                    next-text="&rsaquo;" 
                    first-text="&laquo;" 
                    last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Detailed Modal -->
<div class="modal fade" id="detailModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title title3">Indent No: {{ mailForm.prf_number }}</p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th>#</th>
                            <th>QUOTATION NUMBER</th>
                             <th>INDENT TIME</th>
                            <th>QUOTATION STATUS</th>
							<th>PO NUMBER</th>
                            <th>PO STATUS</th>
                        </thead>
                        <tbody ng-show="tableList.length > 0">
                        <tr ng-repeat="x in tableList">
						<td>{{ $index+1 }}</td>
						<td>{{ x.quot_number }}</td>
						<td ng-bind-html='x.mail_datetime'></td>
						<td ng-bind-html='x.quot_status'></td>
						<td>{{ x.po_number }}</td>
						<td ng-bind-html='x.po_status'></td>
                        </tr>
                        </tbody>
                        <tbody ng-show="tableList.length == 0">
                            <tr><td colspan="6">No records found</td></tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Mail Modal -->
<div class="modal fade" id="mailModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title title3">Indent No: {{ mailForm.prf_number }}</p>
        </div>
        <form name="mailForm" ng-submit="onSend()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" ng-model="mailForm.prf_number" />
                        <input type="hidden" ng-model="mailForm.emp_id" />
                        <label>From</label>
                        <input type="text"  ng-model="mailForm.from_mail" required readonly /><br>
                        <label>To</label>
                       <md-chips ng-model="to_mail" md-require-match="true">
			<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)"  md-item-text="item.mail_id" >
			<span md-highlight-text="searchText">{{item.mail_id}}</span></md-autocomplete>
			<md-chip-template><span>{{$chip.mail_id}}</span></md-chip-template>
			</md-chips>	<br>
						
		    <label>CC</label>		
			<md-chips ng-model="cc_mail" md-require-match="true">
			<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)"  md-item-text="item.mail_id">
			<span md-highlight-text="searchText">{{item.mail_id}}</span></md-autocomplete>
			<md-chip-template><span>{{$chip.mail_id}}</span></md-chip-template>
			</md-chips><br>	
						
			<label>BCC</label>			
			<md-chips ng-model="bcc_mail" md-require-match="true">
			<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)"  md-item-text="item.mail_id">
			<span md-highlight-text="searchText">{{item.mail_id}}</span></md-autocomplete>
			<md-chip-template><span>{{$chip.mail_id}}</span></md-chip-template>
			</md-chips>	<br>
                        <label>Subject</label>
                        <input type="text"  ng-model="mailForm.subject" required /><br>
            
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                            <div class="btn-group">
                                <a class="btn-sm dropdown-toggle" data-toggle="dropdown" id="fontlist"><i class="fa fa-font"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                  <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                  <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn-sm" data-edit="bold"><i class="fa fa-bold"></i></a>
                                <a class="btn-sm" data-edit="italic"><i class="fa fa-italic"></i></a>
                                <a class="btn-sm" data-edit="underline"><i class="fa fa-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn-sm" data-edit="justifyleft"><i class="fa fa-align-left"></i></a>
                                <a class="btn-sm" data-edit="justifycenter"><i class="fa fa-align-center"></i></a>
                                <a class="btn-sm" data-edit="justifyright"><i class="fa fa-align-right"></i></a>
                                <a class="btn-sm" data-edit="justifyfull"><i class="fa fa-align-justify"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn-sm btn-sm" data-edit="undo"><i class="fa fa-undo"></i></a>
                                <a class="btn-sm" data-edit="redo"><i class="fa fa-repeat"></i></a>
                            </div>
                        </div>
                        <div id="editor" ></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="send" class="btn btn-primary bt"> Send &nbsp;&nbsp; <i id="sendLoader"  style="color: white ! important;"></i> </button>
                <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- confirm modal -->
<div class="modal fade" id="confirmModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
              <p>{{ alert_msg }}</p>
              <input type="hidden" ng-model="modal_id" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="this[confirmFn](modal_id)">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>